{{!-- {{yield}} --}}
<div class="card-body">
    <h4 class="card-title">Product one</h4>
    <div class="text-warnging">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-0"></i>
    </div>
    <h5 class="price">$2929</h5>
    <p class="card-text text-justify">Phosfluorescently aggregate mission-critical quality vectors
        whereas viral
        opportunities. Monotonectally pursue low-risk
        high-yield opportunities and one-to-one partnerships. Credibly visualize next-generation
        communities
        without
        scalable
        information.</p>
</div>
