{{!-- {{yield}} --}}
<div class="row">
    <div class="col-lg-4">
        <LinkTo class="product" @route='item' @model='1'>
            <div class="card">
                <ProductImage/>
                <ProductDetails />
            </div>
        </LinkTo>
    </div>
</div>
